@import "common.scss";

.about {
    position: relative;
    // color: grey;
    color: $primary-color;
    font-family: $serif-font;

    .logo-position {
      position: relative;
      margin: 0 auto;
      width: 90vw;
      // background-color: #000;
    }

    .swiper-position {
      position: relative;
      margin: 0 auto;
      top: 5vw;
      width: 92vw;
      height: 44vw;
      // background-color: black;
      border-radius: 3vw;
      box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

      .banner-item {
        position: relative;
        width: 92vw;
        height: 44vw;
        border-radius: 3vw;
      }
    }

    .md-button.primary::after {
      z-index: 0;
    }

    .Wrap {
      position: relative;
      width: 90vw;

      h1, p {
        font-size: 6vw;
        color: #bb6868;
      }

      h1, h2, h3, h4 {
        margin: 0;
        padding: 0;
        font-family: 'Lobster', Arial, sans-serif;
      }

      .text-center {
        text-align: center;
      }

      .Wrap {
        max-width: 1vw;
        margin: 1vh auto;
      }
    }

    .test-props {
      position: relative;
      width: 80vw;
      margin: 0 auto;

      .md-button {
        background: linear-gradient(to Right, #ccc, #fff);
        color: #bb6868;
        margin-bottom: 3vw;
      }
    }
}
