@import "common.scss";

.discography {
  position: relative;
  padding-top: 3vw;

  .discography-title {
    position: relative;

    p{
      color: $font-color;
      font-family: $font-family;
      letter-spacing: 0.5vw;
    }
  }

  .navbar-position {
    position: relative;
    padding-top: 3vw;

    .md-tab-bar {
      background-color: $primary-color;
      box-shadow: $shadow;

      .md-tab-bar-item {
        &.is-active {
          color: $secondary-color;
        }

      }
      .md-tab-bar-ink {
        background-color: $secondary-color;
      }
    }

    .md-swiper {
      position: relative;

      .md-swiper-item {
        padding: 3vw;
        box-sizing: border-box;
        line-height: 1.5;
        letter-spacing: 1vw;
        font-size: $font-size;
      }
    }
  }

  .album-list {
    position: relative;
    text-align: center;

    .album-info {
      position: relative;
      padding-bottom: 10vw;
      // background-color: aqua;

      .album-title {
        padding-bottom: 1vw;
      }

      .album-image {
        position: relative;
        width: 70vw;
        margin: 0 auto;

        img {
          width: 60vw;
          padding: 1vw;
          border: 0.6vw solid black;
        }
      }

      .album-release {
        width: 60vw;
        margin: 0 auto;
        padding-bottom: 3vw;

        p {
          border-bottom: 2px dotted black;
        }
      }

      .album-brief {
        width: 60vw;
        margin: 0 auto;
        text-align: left;

        ol {
          font-size: 4vw;

          li {
            list-style-type: decimal;

            p {
              width: 89%;
              font-size: 4vw;
              display: inline-block;
            }
            a {
              width: 10%;
              display: inline-block;
              float: right;
              vertical-align: middle;

              img {
                width: 6vw;
              }
            }

          }
        }
      }
    }
  }
}
