#nav {
    padding: 30px;
    font-size: 32px;
    line-height: 1.2;
}

#nav a {
    font-weight: bold;
    color: #2c3e50;
}

#nav a.router-link-exact-active {
    color: #fc9153;
}

.md-example-child-tabs {
    .content {
        margin: 12px 0;
        font-size: 28px;
        background: #FFF;
        padding: 20px;
        line-height: 1.5;
        box-sizing: border-box;
    }
    .md-tabs-content {
        min-height: 200px;
        background: #FFF;
    }
}