@import "common.scss";

.home {
    position: relative;
    
    .title-position {
        position: relative;
        width: 90vw;
        margin: 0 auto;
        margin-top: 4vw;
        background-color: #000;
    }
    
    .content-position {
        position: relative;
        margin-top: 4vw;
        padding: 0vw 5vw;

        .md-skeleton {
            margin: 4vw 0;
        }

        .skeleton-item {
            // height: 23vw;
            // background-color: black;

            .holder {
                display: block;
                width: 11vw;
                height: 11vw;
                border-radius: 50%;
                background-color: #fff;
            }
        }
    }
}